@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

:root {
    --Aqua: #00FFFF;
    --Aquamarine: #7FFFD4;
    --Gold: #FFD700;
    --LightYellow: #FFFFE0;
    --Gainsboro: #DCDCDC;
    --DarkOrange: #FF8C00;
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Fjalla One', sans-serif;
    outline: none; border: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section {
    padding: 2rem 9%;
}

.btn__home {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn__home:hover {
    background: var(--Gold);
}

header {
    position: relative;
    top: 0; left: 0; right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0, 1);
}

header .logo {
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
}

header .logo span {
    color: var(--Aquamarine);
}

header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
}

header .navbar a:hover {
    color: var(--Gold);
}

header #toggler {
    display: none;
}

header .fa-bars {
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0,0,0, 1);
    display: none;
}

.home {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(../img/back.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content {
    max-width: 45rem;
}

.home .content h3 {
    font-size: 6rem;
    color: var(--Gold);
}

.home .content span {
    font-size: 3.5rem;
    color: var(--Gold);
    padding: 1rem 0;
    line-height: 1.5;
}

.home .content p {
    font-size: 1.5rem;
    color: var(--LightYellow);
    padding: 1rem 0;
    line-height: 1.5;
}

.home .content video {
    width: 50rem;
    padding: 2rem 0;
}





.cicle-ingridients1 {
    height: 10rem;
    width: 10rem;
    border: 2px solid none;
    background-color: var(--Gold);
    border-radius: 50%;
    display: flex;
    gap: 1.5rem;
    margin: 3rem 15rem;
    
}
.cicle-ingridients1:hover {
    background-color: var(--DarkOrange);
}
.cicle-ingridients1 img {
    margin: auto;
}

.cicle-ingridients2 {
    height: 10rem;
    width: 10rem;
    border: 2px solid none;
    background-color: var(--Gold);
    border-radius: 50%;
    display: flex;
    gap: 1.5rem;
    margin: 3rem 15rem;
    
}
.cicle-ingridients2:hover {
    background-color: var(--DarkOrange);
}
.cicle-ingridients2 img {
    margin: auto;
}

.cicle-ingridients3 {
    height: 10rem;
    width: 10rem;
    border: 2px solid none;
    background-color: var(--Gold);
    border-radius: 50%;
    display: flex;
    gap: 1.5rem;
    margin: 3rem 15rem;
    
}
.cicle-ingridients3:hover {
    background-color: var(--DarkOrange);
}
.cicle-ingridients3 img {
    margin: auto;
}

.cicle-ingridients4 {
    height: 10rem;
    width: 10rem;
    border: 2px solid none;
    background-color: var(--Gold);
    border-radius: 50%;
    display: flex;
    gap: 1.5rem;
    margin: 3rem 15rem;
    
}
.cicle-ingridients4:hover {
    background-color: var(--DarkOrange);
}
.cicle-ingridients4 img {
    margin: auto;
}

.cicle-ingridients5 {
    height: 10rem;
    width: 10rem;
    border: 2px solid none;
    background-color: var(--Gold);
    border-radius: 50%;
    display: flex;
    gap: 1.5rem;
    margin: 3rem 15rem;
    
}
.cicle-ingridients5:hover {
    background-color: var(--DarkOrange);
}
.cicle-ingridients5 img {
    margin: auto;
}

.cicle-ingridients6 {
    height: 10rem;
    width: 10rem;
    border: 2px solid none;
    background-color: var(--Gold);
    border-radius: 50%;
    display: flex;
    gap: 1.5rem;
    margin: 3rem 15rem;
    
}
.cicle-ingridients6:hover {
    background-color: var(--DarkOrange);
}
.cicle-ingridients6 img {
    margin: auto;
}


.sector1 {
    margin: 150px 0 100px;
    width: 100%;
    display: grid;
    grid-template-columns: 69% 29%;
    grid-gap: 22px;
}

.about {
    background: url(../img/bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}










/* -------------------------------- 

Primary style

-------------------------------- */
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    font-size: 100%;
    font-family: "Helvetica Neue", sans-serif;
  background: #313234;
  }
  
  a {
    color: #79b6e4;
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
  }
  
  /* -------------------------------- 
  
  Main components 
  
  -------------------------------- */
  .cd-testimonials-wrapper {
    position: relative;
    width: 90%;
    max-width: 768px;
    background-color: #39393c;
    margin: 2em auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 20px 40px 70px;
    z-index: 1;
  }
  .cd-testimonials-wrapper::after {
    /* quotation mark */
    content: '\201C';
    position: absolute;
    top: 10px;
    left: 0;
    width: 50px;
    height: 50px;
    padding-top: 8px;
    margin-left: -25px;
    background: rgba(32, 32, 34, 0.9);
    font-family: "Georgia", serif;
    color: #ffffff;
    font-size: 70px;
    font-size: 4.375rem;
    text-align: center;
    /* visible on big devices only */
    display: none;
  }
  
  .cd-testimonials {
    color: #ffffff;
    text-align: center;
  }
  .cd-testimonials::after {
    clear: both;
    content: "";
    display: table;
  }
  .cd-testimonials > li {
    position: absolute;
    opacity: 0;
  }
  .cd-testimonials > li:first-child {
    position: relative;
    opacity: 1;
  }
  .cd-testimonials p {
    font-family: "Georgia", serif;
    font-style: italic;
    line-height: 1.4;
    margin-bottom: 1em;
    padding: 0 14px;
  }
  
  .cd-author img, .cd-author .cd-author-info {
    display: inline-block;
    vertical-align: middle;
  }
  .cd-author img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-right: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  }
  .cd-author .cd-author-info {
    text-align: left;
    line-height: 1.2;
  }
  .cd-author .cd-author-info li:first-child {
    font-size: 14px;
    font-size: 0.875rem;
  }
  .cd-author .cd-author-info li:last-child {
    font-size: 12px;
    font-size: 0.75rem;
    color: #6b6b70;
  }
    .cd-author .cd-author-info {
      line-height: 1.4;
    }
    .cd-author .cd-author-info li:first-child {
      font-size: 16px;
      font-size: 1rem;
    }
    .cd-author .cd-author-info li:last-child {
      font-size: 14px;
      font-size: 0.875rem;
    }
  
  .flex-direction-nav li {
    position: absolute;
    height: 100%;
    width: 40px;
    top: 0;
  }
  .flex-direction-nav li:first-child {
    left: 0;
  }
  .flex-direction-nav li:last-child {
    right: 0;
  }
  .flex-direction-nav li a {
    display: block;
    height: 100%;
    width: 100%;
    /* image replacement */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
  }
  .no-touch .flex-direction-nav li a:hover {
    background-color: #323234;
  }
  .flex-direction-nav li a::before, .flex-direction-nav li a::after {
    /* left and right arrows in css only */
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 2px;
    height: 13px;
    background-color: #ffffff;
  }
  .flex-direction-nav li a::before {
    -webkit-transform: translateY(-35px) rotate(45deg);
    -moz-transform: translateY(-35px) rotate(45deg);
    -ms-transform: translateY(-35px) rotate(45deg);
    -o-transform: translateY(-35px) rotate(45deg);
    transform: translateY(-35px) rotate(45deg);
  }
  .flex-direction-nav li a::after {
    -webkit-transform: translateY(-27px) rotate(-45deg);
    -moz-transform: translateY(-27px) rotate(-45deg);
    -ms-transform: translateY(-27px) rotate(-45deg);
    -o-transform: translateY(-27px) rotate(-45deg);
    transform: translateY(-27px) rotate(-45deg);
  }
  .flex-direction-nav li:last-child a::before {
    -webkit-transform: translateY(-35px) rotate(-45deg);
    -moz-transform: translateY(-35px) rotate(-45deg);
    -ms-transform: translateY(-35px) rotate(-45deg);
    -o-transform: translateY(-35px) rotate(-45deg);
    transform: translateY(-35px) rotate(-45deg);
  }
  .flex-direction-nav li:last-child a::after {
    -webkit-transform: translateY(-27px) rotate(45deg);
    -moz-transform: translateY(-27px) rotate(45deg);
    -ms-transform: translateY(-27px) rotate(45deg);
    -o-transform: translateY(-27px) rotate(45deg);
    transform: translateY(-27px) rotate(45deg);
  }
  
  .cd-see-all {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #252527;
    text-align: center;
    text-transform: uppercase;
    color: #6b6b70;
    font-weight: 700;
    font-size: 12px;
    font-size: 0.75rem;
    -webkit-transition: color, 0.2s;
    -moz-transition: color, 0.2s;
    transition: color, 0.2s;
  }
  .no-touch .cd-see-all:hover {
    color: #79b6e4;
  }
  
  .cd-testimonials-all {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
  }
  .cd-testimonials-all .cd-testimonials-all-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
  }
  .cd-testimonials-all .cd-testimonials-all-wrapper > ul {
    width: 90%;
    max-width: 1170px;
    margin: 4em auto;
  }
  .cd-testimonials-all .cd-testimonials-all-wrapper > ul::after {
    clear: both;
    content: "";
    display: table;
  }
  .cd-testimonials-all .cd-testimonials-item {
    margin-bottom: 2em;
    opacity: 0;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0) scale(0.4);
    -moz-transform: translate3d(0, 0, 0) scale(0.4);
    -ms-transform: translate3d(0, 0, 0) scale(0.4);
    -o-transform: translate3d(0, 0, 0) scale(0.4);
    transform: translate3d(0, 0, 0) scale(0.4);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform .3s, opacity .3s;
    -moz-transition: -moz-transform .3s, opacity .3s;
    transition: transform .3s, opacity .3s;
  }
  .cd-testimonials-all p {
    position: relative;
    background: #79b6e4;
    color: #ffffff;
    padding: 2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.4;
    border-radius: 0.25em;
    margin-bottom: 1em;
  }
  .cd-testimonials-all p::after {
    /* creating the triangle in css */
    content: '';
    position: absolute;
    top: 100%;
    left: 2em;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-top-color: #79b6e4;
  }
  .cd-testimonials-all .cd-author {
    text-align: left;
    margin-left: 1.5em;
  }
  .cd-testimonials-all .cd-author img {
    box-shadow: 0 0 0 transparent;
  }
  .cd-testimonials-all.is-visible {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
  }
  .cd-testimonials-all.is-visible .cd-testimonials-all-wrapper {
    -webkit-overflow-scrolling: touch;
  }
  .cd-testimonials-all.is-visible .cd-testimonials-item {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    -moz-transform: translate3d(0, 0, 0) scale(1);
    -ms-transform: translate3d(0, 0, 0) scale(1);
    -o-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
  }
  
  .close-btn {
    position: fixed;
    display: block;
    width: 40px;
    height: 40px;
    top: 50px;
    right: 3%;
    /* image replacement */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
  }
  .close-btn::before, .close-btn::after {
    /* close icon in css */
    content: '';
    position: absolute;
    display: inline-block;
    width: 2px;
    height: 24px;
    top: 8px;
    left: 19px;
    background-color: #39393c;
  }
  .close-btn::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .close-btn::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }


.promo {
    width: 100%;
    display: grid;
    grid-template-columns: 55% 35%;
    grid-gap: 60px;
    padding: 0rem 10rem 0rem;
}
.content-promo {
    color: var(--Gold);
    font-size: 3rem;
    padding: 0;
    margin-top: 0;
}
.content-promo p{
    padding: 2rem 0 2rem;
}

.content-promo h3 {
    color: var(--DarkOrange);
}

.btnn{
display: inline-block;
margin-top: 1rem;
border-radius: 5rem;
background: var(--DarkOrange);
color: rgb(255, 255, 255);
padding: 0.9rem 3.5rem;
cursor: pointer;
font-size: 1.7rem;
}
.btnn:hover {
    background: var(--Gold);
}







.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: var(--Gold);
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: var(--DarkOrange);
  }
  
  span.price {
    float: right;
    color: grey;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }





































/* media */
@media (max-width: 1350px){
    html {
        font-size: 55%;
    }

    header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }

    .home {
        background-position: left;
    }
}

@media (max-width: 768px){
    header .fa-bars {
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #eee;
        border-top: .1rem solid rgba(0,0,0, 1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    

    header #toggler:checked ~ .navbar{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a {
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgba(0,0,0, 1);
        display: block;
    }

    .home .content h3 {
        font-size: 5rem;
        margin: 0 auto;
    }

    .home .content span {
        font-size: 2.5rem;
        margin: 0 auto;
    }
}


@media (max-width: 500px) {
    .home .content video {
        width: 40rem;

    }
}

@media (max-width: 430px) {
    .home .content video {
        width: 45rem;

    }

}

@media (max-width: 412px) {
    .home .content video {
        width: 40rem;


    }

}

@media (max-width: 376px) {
    .home .content video {
        width: 40rem;
        
    }

}

@media (max-width: 350px) {
    .home .content video {
        width: 0rem;

    }

}

@media (max-width: 474px){
    html {
        font-size: 50%;
    }
}

@media (max-width: 1200px) {
    .containerIcons {
        top: 100%;
    }

}
@media (max-width: 1200px) {
    .about {
        background: none;
    }

}
@media (max-width: 1084px) {
    .containerIcons {
        display: none;
    }

}

@media (max-width: 800px) {
    .content-promo {
        position: absolute;
        right: 50%;
    }

}
@media (max-width: 710px) {
    .content-promo {
        display: grid;
        right: 25%;
        padding: 0 auto;
    }

}
@media (max-width: 375px) {
    .content-promo {
        text-align: center;
        right: 1%;
        margin: 2rem;
        padding: 20rem 0 0;
    }

}
@media (max-width: 800px) {
    .promo-pills {
        position: absolute;
        left: 50%;
        width: 40rem;
    }

}
@media (max-width: 710px) {
    .promo-pills {

        left: 30%;
        width: 20rem;
    }

}
@media (max-width: 351px) {
    .promo-pills {

        left: 25%;
        width: 20rem;
    }

}
@media (max-width: 296px) {
    .promo-pills {

        left: 20%;
        width: 20rem;
    }

}










@media only screen and (min-width: 768px) {
    .cd-testimonials-wrapper {
      margin: 10em auto;
      padding: 64px 50px 114px;
    }
  }
  @media only screen and (min-width: 1170px) {
    .cd-testimonials-wrapper::after {
      /* quotation mark visible */
      display: block;
    }
  }
  @media only screen and (min-width: 768px) {
    .cd-testimonials p {
      font-size: 16px;
      font-size: 1.375rem;
    }
  }
  @media only screen and (min-width: 1170px) {
    .cd-testimonials p {
      font-size: 16px;
      font-size: 1.1rem;
      line-height: 1.6;
    }
  }
  @media only screen and (min-width: 768px) {
    .cd-author img {
      width: 70px;
      height: 70px;
    }
}
@media only screen and (min-width: 768px) {
    .flex-direction-nav li {
      width: 50px;
    }
  }
  @media only screen and (min-width: 1170px) {
    .flex-direction-nav li a::before, .flex-direction-nav li a::after {
      background-color: #5e5e63;
      -webkit-transition: background-color 0.2s;
      -moz-transition: background-color 0.2s;
      transition: background-color 0.2s;
    }
    .flex-direction-nav li a:hover::before, .flex-direction-nav li a:hover::after {
      background-color: #ffffff;
    }
  }
  @media only screen and (min-width: 768px) {
    .cd-testimonials-all .cd-testimonials-item {
      width: 46%;
      margin: 0 2% 3em;
    }
    .cd-testimonials-all .cd-author {
      margin-left: 1em;
    }
  }
  @media only screen and (min-width: 1170px) {
    .cd-testimonials-all .cd-testimonials-item {
      width: 30%;
      margin: 0 1.6666% 3em;
    }
  }